/* body structure */
body{
  font-family: Arial, Helvetica, sans-serif;    
}

/* navigation bar structure */
.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* _nology logo */
.topnav a.nology{
  background-color: green;
  color: white;

  width: 150px;
  height: 20px;
}

/* black background for the link(s) navigation tabs */
.topnav{
  overflow: hidden;
  background-color: black;
  margin-bottom: 10px;
}

/* background and font colours change on hover */
.topnav-right :hover{
  background-color: white;
  color: green;
}

/* link(s) navigation tabs to the right */
.topnav-right{
  float: right;
}

/* cards separating each of the panels */
.mainpanels{
  height: 156.5px;
  width: 1050px;

  margin-top: 15px;
  margin-left: 15px;
  border: 3px solid black;

  text-align: right;
  background-color: white;
  color: black;
}

/* right hand panel right side positioning and font */
.righthandpanel{
  height: 570px;
  width: 282px;

  margin-top: 15px;
  margin-left: 20px;
  margin-right: 100px;
  border: 3px solid black;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  background-color: white;
  color: black;
}

/* bold titles and line spacing for all panels */
section{
  margin-bottom: -18px;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5;
  text-align: left;
}

/* spacing between the lists within each of the panels */
li{
  margin-left: 15px;
  font-size: 14px;
  line-height: 2.5;
  text-align: left;
}

/* editing space around the 'Right-hand Panel' paragraph  */
p{
  margin-top: 15px;
  margin-bottom: -5.5px;
}

/* cards wrapping around */
.wrap{
  height: 800px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrap>*{
  flex: 0 0 80px;
}

